body {
  font-family: 'Roboto', sans-serif;
  color: #545E6C;
  background-color: #d6d6d6 !important;
  font-size: 14px;
  padding: 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
a {
  color: #2d7788;
  transition: all 0.4s ease-in-out;
}
a:hover {
  text-decoration: underline;
  color: #1a454f;
}
a:focus {
  text-decoration: none;
}
p {
  line-height: 1.5;
}
.wrapper {
  background: #42A8C0;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.sidebar-wrapper {
  background: #42A8C0;
  position: absolute;
  left: 0;
  width: 240px;
  height: 100%;
  min-height: 800px;
  color: #fff;
}
.sidebar-wrapper a {
  color: #fff;
}
.sidebar-wrapper .profile-container {
  padding: 30px;
  background: rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #fff;
}
.sidebar-wrapper .name {
  font-size: 32px;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 10px;
}
.sidebar-wrapper .tagline {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}
.sidebar-wrapper .profile {
  margin-bottom: 15px;
}

.sidebar-wrapper .photo {
  max-width: 180px;
}
.sidebar-wrapper .contact-list {
  width: 190px;
}
.sidebar-wrapper .contact-list .fa {
  margin-right: 5px;
  font-size: 18px;
  vertical-align: middle;
}
.sidebar-wrapper .contact-list li {
  margin-bottom: 15px;
}
.sidebar-wrapper .contact-list li:last-child {
  margin-bottom: 0;
}
.sidebar-wrapper .contact-list .email .fa {
  font-size: 14px;
}
.sidebar-wrapper .container-block {
  padding: 30px;
}
.sidebar-wrapper .container-block-title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 15px;
}
.sidebar-wrapper .degree {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 5px;
}
.sidebar-wrapper .skills-list {
  width: 190px;
}

.sidebar-wrapper .courses-list {
  margin-left: 10px;
  width: 190px;
}

.sidebar-wrapper .courses-list .course-title {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.sidebar-wrapper .courses-list .course-title a {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  text-decoration: none;
}

.sidebar-wrapper .courses-list li {
  margin-bottom: 10px;
}

.sidebar-wrapper .courses-list .sert-link {
  margin-left: 10px;
}

.set {
  width: 100%;
  margin: auto 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  color: #42A8C0;
}

.switch input {
  display:none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  font-size: 12px;
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.lang-button ~ .slider:before {
  content: "en";
  text-align: center;
  line-height: 14px
}

input:checked + .slider:before {
  transform: translateX(16px);
}

.lang-button:checked + .slider:before {
  content: "ру";
}

.sidebar-wrapper .languages-container .lang-desc {
  color: rgba(255, 255, 255, 0.6);
}
.sidebar-wrapper .languages-list {
  margin-bottom: 0;
}
.sidebar-wrapper .languages-list li {
  margin-bottom: 10px;
}
.sidebar-wrapper .interests-list {
  margin-bottom: 0;
}
.sidebar-wrapper .interests-list li {
  margin-bottom: 10px;
}
.sidebar-wrapper .interests-list li:last-child {
  margin-bottom: 0;
}
.main-wrapper {
  background: #fff;
  padding: 60px;
  padding-left: 300px;
}
.main-wrapper .section-title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  color: #2d7788;
  position: relative;
  margin-top: 0;
  margin-bottom: 20px;
}
.main-wrapper .section-title .fa {
  width: 30px;
  height: 30px;
  margin-right: 8px;
  display: inline-block;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #2d7788;
  text-align: center;
  padding-top: 8px;
  font-size: 16px;
  position: relative;
  top: -2px;
}
.main-wrapper .section {
  margin-bottom: 60px;
}
.main-wrapper .experiences-section .item {
  margin-bottom: 30px;
}
.main-wrapper .experiences-section .item .upper-row {
  position: relative;
  overflow: hidden;
  margin-bottom: 2px;
}
.main-wrapper .experiences-section .item .job-title, .main-wrapper .project-title {
  color: #3F4650;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
}

.main-wrapper .experiences-section .item .time {
  position: absolute;
  right: 0;
  top: 0;
  color: #97AAC3;
}

.main-wrapper .experiences-section .item .company {
  margin-bottom: 10px;
  color: #97AAC3;
}

.main-wrapper .education-section .item {
  margin-bottom: 30px;
}
.main-wrapper .education-section .item .upper-row {
  position: relative;
  overflow: hidden;
  margin-bottom: 2px;
}
.main-wrapper .education-section .item .ed-title {
  color: #3F4650;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
}

.main-wrapper .education-section .item .time {
  position: absolute;
  right: 0;
  top: 0;
  color: #97AAC3;
}

.main-wrapper .projects-section .intro {
  margin-bottom: 30px;
}

.main-wrapper .projects-section .projects-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 20px;
}
.main-wrapper .projects-section .project-link {
  color: inherit;
  cursor: pointer;
}
.main-wrapper .projects-section .item {
  margin-bottom: 15px;
  max-width: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-wrapper .projects-section .item figure {
  border: 1px solid #42A8C0;
  background-color: #fff;
}
.main-wrapper .projects-section .item .project-preview {
  max-width: 100%;
  height: 228px;
  transition: 0.3s;
}
.main-wrapper .projects-section .item .project-preview:hover {
  transform: scale(1.3);
}
.main-wrapper .projects-section .item figcaption {
  min-height: 365px;
}
.main-wrapper .projects-section .item .project-description {
  margin: 10px;
  margin-bottom: 5px;
  max-width: 250px;
  text-align: justify;
  text-indent: 1.5em;
}
.main-wrapper .projects-section .item .project-info {
  margin: 0px;
  margin-left: 10px;
}
.footer {
  padding: 30px;
  padding-top: 60px;
}
.footer .copyright {
  line-height: 1.6;
  color: #545E6C;
  font-size: 13px;
}
.footer .fa-heart {
  color: #fb866a;
}

@media (min-width: 992px) {
  .skillset .level-title {
    display: inline-block;
    width: 30%;
    margin-bottom: 0;
  }
  .skillset .level-bar {
    display: inline-block;
    width: 70%;
    position: relative;
    top: 1px;
  }
}

.hidden {
  display: none;
}

@media (max-width: 920px) {
  .main-wrapper .projects-section .item {
    max-width: 100%;
  }
  .main-wrapper .projects-section .item .project-preview {
    max-width: 100%;
    height: auto;
  }
  .main-wrapper .projects-section .item figcaption {
    min-height: auto;
  }
  .main-wrapper .projects-section .item .project-description {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .sidebar-wrapper {
    position: static;
    width: inherit;
  }
  .main-wrapper {
    padding: 30px;
  }
  .main-wrapper .time {
    position: static;
    display: block;
    margin-top: 5px;
  }
  .main-wrapper .upper-row {
    margin-bottom: 0;
  }
  .main-wrapper .projects-section .item {
    max-width: 48%;
  }
  .main-wrapper .projects-section .item .project-preview {
    height: 228px;
  }
  .main-wrapper .projects-section .item figcaption {
    min-height: 390px;
  }
}

@media (max-width: 619px) {
  .main-wrapper .projects-section .item {
    max-width: 100%;
  }
  .main-wrapper .projects-section .item .project-preview {
    max-width: 100%;
    height: auto;
  }
  .main-wrapper .projects-section .item figcaption {
    min-height: auto;
  }
  .main-wrapper .projects-section .item .project-description {
    max-width: 100%;
  }
}
